@{
	ViewData["Title"] = "Home Page";
}


<table>
	<tr>
		<th>
			<h2>
				<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FoodTracker">
					Food Tracker
				</a>
			</h2>
		</th>
		<th>
			<h2>
				<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="YumCookieMain">
					Cookies
				</a>
			</h2>
		</th>
	</tr>
	<tr>
		<td>
			<p>
				The Food Tracker can be used to track your food expenses.
				You can save your wages by monthly or annual income, and save
				any food purchases you make. There is a calculator to show
				totals, as well as a percentage of your income which you spend
				on food.
			</p>
		</td>
		<td>
			<p>
				The Yumyums is a place for storing recipes for delicious
				foods and goodies like cookies! You can add your own recipes
				and set them to private or choose to share. You can also view
				recipes which other people have shared.
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Acquacotta_soup.jpg"
				  alt="Picture of a Food Dish" height="612" width="612" />
		</td>
		<td>
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/2ChocolateChipCookies.jpg/1280px-2ChocolateChipCookies.jpg"
				  alt="Picture of Cookies" height="427" width="640" />
		</td>
	</tr>
</table>