@*  Main Cookie Page
*@
@{
}


<h1>Cookies!</h1>
<br />

<span>Select Cookie Type</span>
<select>
	<option value="Chocolate Chippie">Chocolate Chippie</option>
	<option value="Oatmeal Raisin eww">Oatmeal Raisin eww</option>
</select>
<hr />

<table cellpadding="10">
	<tr>
		<td>
			<h5>Time Needed</h5>
			<p>Minutes and Seconds</p>
		</td>
	</tr>
	<tr>
		<td>
			<h5>Tools Needed</h5>
			<p>Thinks and Things</p>
		</td>
	</tr>
	<tr>
		<td>
			<h5>Ingredients</h5>
			<p>This and That</p>
		</td>
	</tr>
	<tr>
		<td>
			<h5>Directions</h5>
			<p>Actions and Reactions</p>
		</td>
	</tr>
</table>